


   
  <h1 class="text-3xl font-bold underline ">Available Properties</h1>

  <ul>
  <% @properties.each do |property| %>
    <li>
      <strong><%= link_to property.name, property_path(property) %></strong><br>
      <%= property.address %><br>
    </li>
  <% end %>
  <div class="bg-green-500 text-white p-4 text-center">
    Tailwind CSS está funcionando!
  </div>
  </ul>




