<h1>Available Properties</h1>

<ul>
  <% @properties.each do |property| %>
    <li>
      <strong><%= link_to property.name, property_path(property) %></strong><br>
      <%= property.address %><br>
    </li>
  <% end %>
  <%= button_to 'Atualizar Mensagem', properties_path, method: :get, data: { turbo_action: "replace" } %>
</ul>
